// bulma overrides
@import '~bulma/sass/utilities/initial-variables';
$tablet: 768px;

// site config
$config: (
    'base-font-size': 16px,
    'base-font-size-em': 1em,
    'base-line-height': 1.5
);

$z-index: (
    'border-frame': 10,
    'grid-lines': 0,
);

$color-palette: (
    'razzmatazz-pink': (
        base: #DD2968,
        tint1: #E34D81,
        tint2: #EA719D,
        tint3: #F099B9,
        tint4: #F4C2D5,
        tint5: #FBEAF1,
        shade1: #B92256,
        shade2: #941A42,
        shade3: #6B1230,
        shade4: #400A1C,
    ),
    'neon-carrot': (
        base: #FF9851,
        tint1: #FFAA6D,
        tint2: #FFBD8C,
        tint3: #FFD0AD,
        tint4: #FFE2CD,
        tint5: #FEF5ED,
        shade1: #D47B42,
        shade2: #A95E34,
        shade3: #7C4425,
        shade4: #4B2916,
    ),
    'sea-green': (
        base: #23969E,
        tint1: #4DA9AF,
        tint2: #79BCC1,
        tint3: #A0CFD2,
        tint4: #C6E1E4,
        tint5: #EBF4F5,
        shade1: #1E797F,
        shade2: #165E62,
        shade3: #104345,
        shade4: #0A2928,
    ),
    'celestial-blue': (
        base: #2280D6,
        tint1: #4C97DC,
        tint2: #78AEE4,
        tint3: #9FC5EB,
        tint4: #C4DCF3,
        tint5: #EBF3FA,
        shade1: #1A6BAC,
        shade2: #135282,
        shade3: #103B5B,
        shade4: #072337,
    ),
    'lavender-indigo': (
        base: #B74CFB,
        tint1: #C46AFB,
        tint2: #D18AFC,
        tint3: #DEABFC,
        tint4: #EACCFD,
        tint5: #F8EEFD,
        shade1: #9A3FCB,
        shade2: #7A3099,
        shade3: #57236A,
        shade4: #34143E,
    ),
    'dark-byzantium': (
        base: #360B3A,
        tint1: #5E3559,
        tint2: #865F7A,
        tint3: #A88BA0,
        tint4: #CBB9C6,
        tint5: #EDE7EB,
        shade1: #2A0A2B,
        shade2: #200720,
        shade3: #150516,
        shade4: #0F0310,
    ),
    'charcoal': (
        base: #3D4A5C,
        tint1: #5F6A79,
        tint2: #828B97,
        tint3: #A6ACB4,
        tint4: #C9CDD1,
        tint5: #EDEEF0,
        shade1: #323D4C,
        shade2: #27303B,
        shade3: #1C222A,
        shade4: #101519,
    )
);

$color-key: 'base' !default;

@function color-palette(
    $name: 'primary',
    $variant: $color-key
) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($color-palette, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}
