@import '../../../utils/sass/my-variables';
@import "../../../utils/sass/media_queries";

.CoverTextContent {
  z-index: map_get($z-index, cover-text-content);
  @include positionAbsolute($bottom: 32px, $left: 24px);
  @include for-screens(desktop) {
    width: 100%;
    padding: 0 56px;
    @include positionAbsolute($bottom: 56px, $left: 50%, $centered: 'horizontal');
  }
}
.cover-title {
  font-size: typescale(2);
  color: white;
  padding-right: 24px;
  @include sofia-pro-bold;
  @include set-margin-bottom(1);
  @include for-screens(desktop) {
    @include set-margin-bottom(1);
    padding-right: 0;
    font-size: typescale(4);
  }
}

.cover-description {
  color: white;
  padding-right: 64px;
  @include set-margin-bottom(1);
  @include for-screens(desktop) {
    padding-right: 0;
    font-size: typescale(2);
    @include set-margin-bottom(1.5);
    @include set-line-height(1.5);
  }

  &.charcoal {
    color: color-palette('charcoal', 'tint1');
  }
}

.cover-call-to-action {
  display: inline-block;
  @include sofia-pro-bold;
  @include transition(all 0.5s);
  @include for-screens(desktop) {
    height: map_get($config, 'grid-base') * 4;
    font-size: typescale(2);
  }

  i {
    vertical-align: middle;
  }
}

.cover-logo {
  @include set-margin-bottom(1);
  @include for-screens(desktop) {
    @include set-margin-bottom(1.5);
  }

  img {
    height: 48px;
    @include for-screens(desktop) {
      height: 56px;
    }
  }
}
