@import '../../utils/sass/my-variables';
@import "../../utils/sass/media_queries";

.Controls {
  z-index: map_get($z-index, 'covers-interface');
  width: 36px;
  @include positionFixed($bottom: 32px, $right: 24px);
  @include for-screens(desktop) {
    @include positionFixed($bottom: 40px, $right: 40px);
  }

  li {
    text-align: center;
  }
}
.control-label {
  text-transform: uppercase;
  font-size: typescale(-1);
  display: inline-block;
  text-align: center;
  width: 100%;
  color: white;
  @include set-line-height(2);
  @include transition(all 0.5s);
  @include for-screens(desktop) {
    @include set-line-height(3);
  }
}

.cover-btn {
  color: white;
  font-size: typescale(1);
  cursor: pointer;
}
