@import '../../utils/sass/my-variables';
@import "../../utils/sass/media_queries";

.cover-scrim {
  width: 100%;
  height: 50%;
  z-index: map_get($z-index, 'cover-scrim');
  touch-action: none;
  @include background-gradient(rgba(color-palette('charcoal', 'shade3'), 0), color-palette('charcoal', 'shade3'), 'vertical');
  @include positionAbsolute($bottom: 0);
}
.project-indicator {
  width: 4px;
  background: white;
  @include set-z-index('project-indicator');
  @include positionFixed($left: 0);
  @include transition(top 0.5s, background 0.5s);
}
