@import '../../../utils/sass/my-variables';
@import "../../../utils/sass/media_queries";

.nav-menu-btn {
  cursor: pointer;
  z-index: map_get($z-index, 'covers-interface');
  @include positionFixed($top: 32px, $right: 24px);
  @include for-screens(desktop) {
    @include positionFixed($top: 40px, $right: 40px);
  }

  img {
    height: 24px;
    width: 24px;
    @include for-screens(desktop) {
      height: 32px;
      width: 32px;
    }
  }
}
