@import '../../../utils/sass/my-variables';
@import "../../../utils/sass/media_queries";

.vanity-plate {
  border: 0;
  padding: 0;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: typescale(0);
  color: rgba(white, 0.2);
  line-height: map_get($config, 'grid-base') * 3;
  z-index: map_get($z-index, 'covers-interface');
  @include sofia-pro-bold;
  @include positionFixed($top: 32px, $left: 24px);
  @include for-screens(desktop) {
    @include positionFixed($top: 40px, $left: 40px);
    font-size: typescale(1);
  }
}
